<pre>
                                                                  Tasks
  1)Create two working routes with the routes array in app.routing-module.ts which is passed to RouterModule.forRoot to be empty, use optional modules. 
  2)Connect a lazy load to one of the routes created in the above task. 
  You can edit the route settings if necessary. 
  3)Create a website interface, for example a list of products with descriptions at your discretion, 
  to which create a filter functionality with goods (display only those that fit the filter criteria) using the parameters in the routes. 
  For example: the products are cases for phones and each has its own colour and using input type="radio"> the user selects which colour he is interested in. 
  4)Create a route 'login' with login and password fields, entering 
  which login: Denis, password: 1812 or login: Misha, password: 1911 will go to the path 'moderator' in which there is a greeting: "Hello [login name]"
</pre>
<div class="box">
   <a routerLink="product">product</a>
   <a routerLink="login">login</a>
</div>
<hr>
<div class="router">
   <router-outlet></router-outlet>
</div>